/* choosen color
 black: #000;
 white: #fff;
 offwhite: #f0f0f0;
*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}
body {
 background: #f0f0f0;
}

/* text styling */
.text-center {
 text-align: center;
}
.text-justify {
 text-align: justify;
}
/* /text styling */

/* navbar */
nav {
 width: 100%;
 margin: 0 auto;
 background: #000;
}
nav > div {
 padding: 10px;
 display: flex;
 align-items: center;
}
nav img {
 max-width: 150px;
 margin: 0 40px 0 10px;
}
nav ul {
 flex: 1;
 list-style-type: none;
 cursor: default;
}
nav ul li {
 display: inline-block;
}
nav ul li a {
 color: #ccc;
 text-decoration: none;
 font-size: 18px;
 font-weight: 400;
 padding: 10px 20px;
}
.search-btn {
 color: #ccc;
 margin: 0 15px;
}
nav a:hover {
 color: #fff;
}

/* /navbar */

/* centerized container */
.container {
 max-width: 1500px;
 margin: 0 auto;
}

/* /centerized container */


/* header */
.header {
 margin: 10px 0 50px 0;
 font-size: 40px;
 padding-bottom: 10px;
 border-bottom: 2px solid #000;
 font-weight: 300;
}
/* /header */

/* custom grid */
.row {
 display: flex;
 width: 100%;
}
.col-sm {
 width: 33.33%;
}
.col-lg {
 width: 66.66%;
}
/* /custom grid */

/* img thumbnail */

/* /img thumbnail */