@import "modules/reset";
@import "modules/mixins";

$custom: #e6c5c5;


:root {
 --custom-bg: #28b336;
 --custom-color: #fff;
}
body {
 background: var(--custom-bg);
 color: var(--custom-color, red);
}

.container {
 margin: 30px;
 h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: $custom;
 }
 h1:hover {
  color: red;
 }
 p {
  line-height: 1.8rem;
  text-align: justify;
  // font-weight: 400;
 }
}

.mixinHeader {
 @include header;
}

.mixinHeader2 {
 @extend .mixinHeader;
 color: blue;
}

.ifElse {
 @include fontColor('red');
 font-size: 20px;
}

@for $i from 1 through 12 {
 .col-#{$i} {
  width: (100% / 12) * $i;
 }
}

$j: 1;

@while ($j <= 12) {
 .col-2-#{$j} {
  width: (100%/12)*$j;
 }

 $j: $j+1;
}