// browser reset code

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

// normal css variable declear
:root {
 --container-max-width: 1500px;
 --container-margin: 0 auto;
}


//css variable usage
p {
 max-width: var(--container-max-width);
 margin: var(--container-margin);
}




// SCSS

// color variable declaration


$background-color: #eee;


$header-font: 'Times New Roman', Times, serif;
$main-font: georgia;

$main-font-size: 18px;
$nav-text: #404040;
$nav-hover-bg: #404040;
$nav-hover-text: #fff;


body {
 background-color: $background-color;
 font-family: $main-font;
 font-size: $main-font-size;
}
h1 {
 font-family: $header-font;
}


nav {
 padding: 10px;
 ul {
  list-style-type: none;
  margin: 20px 0;
  li {
   display: inline-block;
   margin: 0 10px;
   a {
    text-decoration: none;
    color: $nav-text;
    padding: 10px;
    transition: all 0.1s linear;
    border-radius: 3px;
   }
   a:hover {
   color: $nav-hover-text;
   background-color: $nav-hover-bg;
   }
  }
 }
}